@red: #ed0707;
@red-hover: #d30606;
@red-active: #b70505;

@green: #07B60E;
@green-hover: #008D06;
@green-active: #007203;

@blue: #4A5CFF;
@blue-hover: #2C53DA;
@blue-active: #284bbf;

@text-grey: #AFAFAF;

@black: #000;

@grey-darkset: #AFAFAF;
@grey-dark: #E0E0E0;
@grey-medium: #EEE;
@grey-light: #F3F3F3;
@grey-bright: #FDFDFD;

@white: #FFF;
