/*
** Font sizes
/* ******************* */

@fz-large: 20px;
@fz-normal: 18px;
@fz-small: 16px;

@fz-h1: 36px;
@fz-h2: 24px;

/*
** Font weights
/* ******************* */
@fw-medium: 500;
@fw-normal: 400;
@fw-light: 300;