.flex(
      @justify-content: center, 
      @align-items: normal, 
      @flex-direction: row
      ) {
  display: flex;
  justify-content: @justify-content;
  align-items: @align-items;
  flex-direction: @flex-direction;
}

.absolute() {
  position: absolute;
  display: block;
  content: '';
}.arrow(@size: 8px) {
  .absolute();

  top: 50% - .5*@size;
  right: 32px;

  width: 0;
  height: 0;

  border-top: @size solid #262626;
  border-left: .5*@size solid transparent;
  border-right: .5*@size solid transparent;
}
