.flex(
      @justify-content: center,
      @align-items: normal,
      @flex-direction: row
      ) {
  display: flex;
  justify-content: @justify-content;
  align-items: @align-items;
  flex-direction: @flex-direction;
}

.absolute() {
  position: absolute;
  display: block;
  content: '';
}

.arrow(@top: 100%, @size: 8px) {
  .absolute();

  top: .5*(@top - @size);
  right: 32px;

  width: 0;
  height: 0;

  border-top: @size solid #262626;
  border-left: .5*@size solid transparent;
  border-right: .5*@size solid transparent;
}

.focused(@color) {
  border-color: @color;
  & + .label {
    color: @color;
  }
}

.plus(@size: 20px) {
  position: absolute;

  width: @size;
  height: @size;

  top: calc(50% - .5*@size);
  bottom: 50%;
  left: 50%;
  right: 50%;

  &::before,
  &::after {
    .absolute();
    background: @black;

    width: 10%;
    height: 100%;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.minus(@size: 20px) {
  position: absolute;

  width: @size;
  height: @size;

  top: calc(50% - .5*@size);
  bottom: 50%;
  left: 50%;
  right: 50%;

  &::before {
    .absolute();
    background: @black;

    width: 10%;
    height: 100%;

    transform: rotate(90deg);
  }
}

.cross(@size: 20px) {
  position: absolute;

  width: @size;
  height: @size;

  top: calc(50% - .5*@size);
  bottom: 50%;
  left: 50%;
  right: 50%;

  &::before,
  &::after {
    .absolute();
    background: @black;

    width: 10%;
    height: 100%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.spinner() {
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .absolute();

  top: calc(50% - 17.5px);
  left: calc(50% - 17.5px);

  width: 35px;
  height: 35px;

  border-radius: 50%;
  border: 4px solid @black;
  border-color: @black transparent @black transparent;

  animation: spinner 1.2s linear infinite;
}
